using System;
using System.Collections.Generic;

namespace GenericParsers
{
    public static class Parser
    {
        static readonly Dictionary<Type, IParser> parsers;

        static Parser()
        {
            parsers = new Dictionary<Type, IParser>
            {
                // generated parsers
                {{# types}}
                { typeof({{.}}), new {{.}}Parser() },
                {{/ types}}

                // hand-written parser(s)
                { typeof(Type), new TypeParser() }
            };
        }

        public static IParser GetParser(Type type)
        {
            IParser parser;
            if (parsers.TryGetValue(type, out parser))
            {
                return parser;
            }

            if (type.IsEnum)
            {
                return parsers[type] = CreateEnumParser(type);
            }

            string error = string.Format("There is no default parser for the type '{0}'.", type);
            throw new ArgumentException(error);
        }

        public static IParser<T> GetParser<T>()
        {
            return (IParser<T>)GetParser(typeof(T));
        }

        static IParser CreateEnumParser(Type type)
        {
            Type blankType = typeof(EnumParser<>);
            Type genericType = blankType.MakeGenericType(type);
            return (IParser)Activator.CreateInstance(genericType);
        }
    }
}
